USE [master]
GO
/****** Object:  Database [Storage]    Script Date: 12/19/2017 11:25:33 ******/
CREATE DATABASE [Storage] ON  PRIMARY 
( NAME = N'Storage', FILENAME = N'd:\Program Files\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\Storage.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Storage_log', FILENAME = N'd:\Program Files\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\Storage_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Storage].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Storage]
GO
/****** Object:  Table [dbo].[WorkerInfo]    Script Date: 12/19/2017 11:25:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[WorkerInfo](
	[w_id] [varchar](16) NOT NULL,
	[w_username] [varchar](50) NOT NULL,
	[w_password] [varchar](50) NOT NULL,
	[w_truename] [varchar](50) NOT NULL,
	[w_sex] [varchar](4) NOT NULL,
	[w_birth] [datetime] NOT NULL,
	[w_tel] [varchar](11) NOT NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[StorageInfo]    Script Date: 12/19/2017 11:25:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[StorageInfo](
	[sto_id] [int] NOT NULL,
	[sto_name] [varchar](16) NOT NULL,
	[sto_type] [varchar](8) NOT NULL,
	[sto_money] [float] NOT NULL,
	[sto_addr] [varchar](50) NOT NULL,
 CONSTRAINT [PK_StorageInfo] PRIMARY KEY CLUSTERED 
(
	[sto_id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Storage]    Script Date: 12/19/2017 11:25:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Storage](
	[s_id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[g_id] [varchar](8) NOT NULL,
	[g_name] [varchar](50) NOT NULL,
	[v_type] [varchar](6) NOT NULL,
	[v_amount] [int] NOT NULL,
	[v_time] [datetime] NOT NULL,
	[v_state] [varchar](4) NOT NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ManagerInfo]    Script Date: 12/19/2017 11:25:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ManagerInfo](
	[m_id] [varchar](16) NOT NULL,
	[m_name] [varchar](16) NOT NULL,
	[m_password] [varchar](50) NOT NULL,
	[m_sex] [char](2) NOT NULL,
	[m_tel] [varchar](11) NOT NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[GoodsInfo]    Script Date: 12/19/2017 11:25:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[GoodsInfo](
	[g_id] [varchar](8) NOT NULL,
	[g_name] [varchar](50) NOT NULL,
	[g_unit] [varchar](8) NOT NULL,
	[sto_id] [int] NOT NULL,
	[g_num] [int] NOT NULL,
	[g_price] [float] NOT NULL,
 CONSTRAINT [PK_GoodsInfo] PRIMARY KEY CLUSTERED 
(
	[g_id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
